$ss-sp: 375px;  // スマホ（極小）
$s-sp: 500px;  // スマホ（小）
$sp: 767px;  // スマホ
$s-tab: 900px;  // タブレット（小）
$tab: 1030px;  // タブレット
// $tab: 1199px;
$s-pc: 1399px;  // PC通常
$mv-w: 1699px;  // mvタイトル用

@mixin ss-sp {
  @media (max-width: ($ss-sp)) {
    @content;
  }
}

@mixin s-sp {
  @media (max-width: ($s-sp)) {
    @content;
  }
}

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

@mixin s-tab {
  @media (max-width: ($s-tab)) {
    @content;
  }
}

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}

@mixin s-pc {
  @media (max-width: ($s-pc)) {
    @content;
  }
}

@mixin mv-w {
  @media (max-width: ($mv-w)) {
    @content;
  }
}

// line-heightの上下余白打消し
@mixin afterlineHeight($line-height) {
  &::before,
  &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
  }

  &::before {
      margin-top: calc((1 - #{$line-height}) * 0.5em);
  }

  &::after {
      margin-bottom: calc((1 - #{$line-height}) * 0.5em);
  }
}